@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}


/* Base styles for light mode */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: white; 
   color: black;
}

/* Dark mode styles when toggleSwitch is checked */
body.dark {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: rgb(31 41 55);
  color: white;
}

.toggleSwitch {
  display: none; /* Hide the checkbox visually */
}

.lightSwitch {
  display: block; /* Show dark switch button initially */
}

.darkSwitch {
  display: none; /* Hide light switch button initially */
}

/* Toggle visibility based on the checkbox state */
.toggleSwitch:checked ~  .lightSwitch{
  display: none; /* Hide dark switch button */
}

.toggleSwitch:checked ~ .darkSwitch {
  display: block; /* Show light switch button */
}

body.about-page .hamburger-menu {
  display: none;
}

.input{
  border-width: 1px;
}

.input-bordered {
border-color: var(--fallback-bc,oklch(var(--bc)/.2));
}

.request-loader:before{
  animation-delay: 0.5s;
}

.request-loader:after, .request-loader:before {
  content: "";
    opacity: 0;
    display: flex
;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    border: 8px solid rgba(0, 0, 0, .2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
}